<%- include('../admin/includes/head.ejs') %>


<div id="layoutSidenav">
    <%- include('../admin/includes/navigation.ejs') %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <ol class="breadcrumb breadcrumb-admin ">
                    <li class="breadcrumb-item active">داشبورد</li>

                    <li class="breadcrumb-item float-left"><%= new Date(); %></li>

                </ol>

                <div class="container">



                </div>


            </div>
        </main>
    </div>
</div>


<%- include('../admin/includes/end.ejs') %>