<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <ul class="sidebar-nav list-group" id="accordion">
                <li class="list-group-item">
                    <a href="/admin/dashboard">
                        <i class=" fa fa-home"></i>
                        صفحه اصلی
                    </a>
                </li>

                <!--<li class="list-group-item" id="headingThree">-->
                    <!--<a href="javascript:void(0)" class="menu-toggle1 collapsed" data-toggle="collapse"-->
                       <!--data-target="#collapseThree"-->
                       <!--aria-expanded="false" aria-controls="collapseThree">-->
                        <!--<i class="sub_icon fas fa-users"></i>-->
                        <!--کاربران-->
                        <!--<i class="fa icon_down_up"></i>-->
                    <!--</a>-->

                    <!--<ul id="collapseThree" class="collapse list-group list-group-flush " aria-labelledby="headingThree"-->
                        <!--data-parent="#accordion">-->
                        <!--<li class="list-group-item">-->
                            <!--<a href="/admin/users">-->
                                <!--<i class=" fas fa-users"></i>-->
                                <!--همه کاربران-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/admin/users">&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class=" fas fa-user-plus"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;ساختن کاربر&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->





            </ul>
        </div>
        <div class="sb-sidenav-footer">
            <a target="_blank" href="http://yaregan.com/">طراحی شده توسط یارگان</a>

        </div>
    </nav>
</div>