<!DOCTYPE html>
<!-- saved from url=(0061)http://demo.tortoizthemes.com/deneb-html/deneb-ltr/index.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- All Meta -->

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- page title -->
    <title>اپلیکیشن یار</title>
    <!-- Favicon Icon -->

    <!-- All css -->
    <!--Bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/view/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/view/owl.theme.default.min.css">
    <!--<link rel="stylesheet" href="/css/rtl.css">-->
    <!-- slick fader css -->
    <!--animate css-->
    <link rel="stylesheet" href="/css/view/animate.css">
    <!--style css-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Welcome to Yar </h1>

<a href="/login" class="btn btn-success">Login</a>


<!-- jquery  -->
<!--<script src="/js/view/jquery-1.12.4.min.js"></script>-->
<!--&lt;!&ndash;modernizr js&ndash;&gt;-->
<!--<script src="/js/view/modernizr-3.6.0.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap js  &ndash;&gt;-->
<!--<script src="/js/view/bootstrap.min.js"></script>-->
<!--<script src="/js/view/popper.min.js"></script>-->
<!--&lt;!&ndash; slick fader js  &ndash;&gt;-->
<!--<script src="/js/view/owl.carousel.min.js"></script>-->
<!--<script src="/js/view/owl.autoplay.js"></script>-->
<!--&lt;!&ndash;wow js&ndash;&gt;-->
<!--<script src="/js/view/wow.min.js"></script>-->


</body>
</html>