<!--<script src="/js/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="/js/popper.min.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<!--</body>-->

<!--</html>-->

<!--<footer class="py-4 bg-light mt-auto">-->
    <!--<div class="container-fluid">-->
        <!--<div class="d-flex align-items-center justify-content-between small">-->
            <!--<div class="text-muted"> &copy; Your Website 2020</div>-->
            <!--<div>-->
                <!--<p>-->
                    <!--<a href="http://yaregan.com/">طراحی شده توسط یارگان</a>-->
                <!--</p>-->
                <!--&middot;-->
                <!--<a href="#">Terms &amp; Conditions</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>-->

<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"-->
        <!--crossorigin="anonymous"></script>-->
<script src="/js/admin.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<!--<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>-->
<script>
        var english = {
                "sProcessing": "در حال پردازش...",
                "sEmptyTable": "داده ای برای نمایش وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ مورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 مورد",
                "sInfoFiltered": "(filtreret ud af _MAX_ rækker ialt)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "نمایش _MENU_ مورد",
                "sLoadingRecords": "در حال لود ...",
                "sSearch": "جستجو : ",
                "sZeroRecords": "Ingen rækker matchede filter",
                "oPaginate": {
                        "sFirst": "Første",
                        "sLast": "Sidste",
                        "sNext": "بعدی",
                        "sPrevious": "قبلی"
                },
                "oAria": {
                        "sSortAscending": ": activate to sort column ascending",
                        "sSortDescending": ": activate to sort column descending"
                }
        };

        $('table').DataTable(
                {"oLanguage": english});


        // $(document).ready(function () {



        // })

</script>



</body>
</html>
